.fixed-menu {
  /* background-color: rgba(22, 22, 22, 0.7); */
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 1;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-image: url("../../assets/imgs/star-wars-background.jpg");
  background-size: 10%;
  border-bottom: 1px solid rgba(241, 255, 48, 0.993);
}

.fixed-menu div {
  padding:10px;
}

.logo-content {
  border-right: 1px solid white;
  padding-left: 20px;
  padding-right: 30px;
}

.logo-content img {
  width: 100px;
}